// SECTION :: START

section.section
  .container
    .section__wrapper
      .section__wrapper-left

        include ./section/_profile
        include ./section/_submissions
        include ./section/_discussions
        include ./section/_createQuizz

      .section__wrapper-right

        include ./section/_repetition
        include ./section/_achievements
        include ./section/_quizzTaken

// SECTION :: END
