---
title: Geeky Medics
bodyClass: homepage
---
extends shared/_layout
block content

  section.section
    .container
      .section__wrapper
        .section__wrapper-left
          include components/section/_submissions

        .section__wrapper-right
          include components/section/_quizzTaken
