// PROFILE
.profile
  .title
    padding-bottom: 36px

  &__user
    text-align: center

    &-name
      padding-top: 16px
      color: $c-767882
      font-size: 21px

    &-pos
      padding-bottom: 42px
      color: $c-9eabbe
      font-weight: 500

  &__circle
    width: calc(100% / 3)
    text-align: center

    p
      color: $c-767882
      font-weight: 500

    &-wrap
      display: flex
      padding-bottom: 63px

  &__text
    display: flex
    align-items: center
    padding-bottom: 32px
    color: $c-686879
    font-size: 20px
    font-weight: 300

    &:last-of-type
      padding-bottom: 0

    div
      display: flex
      align-items: center
      justify-content: center
      width: 43px
      padding-right: 19px

    span
      width: calc(100% - 33px)

    &-wrap
      padding-bottom: 80px

  &__btn
    max-width: 194px
    border: 1px solid $c-41c2a5
    color: $c-41c2a5
