// REPETITION
.repetition
  .title
    padding-bottom: 60px

  &__circle
    width: calc(100% / 5)
    text-align: center

    p
      padding-top: 33px
      color: $c-767882
      font-weight: 500

    &-wrap
      display: flex
      padding-bottom: 33px

    &-left
      display: flex
      justify-content: space-between
      width: calc(100% - 227px)

    &-right
      display: flex
      justify-content: flex-end
      width: 227px

      .repetition__circle
        width: 130px

        p
          font-size: 18px