// INDEX

.c-block
  border-radius: 10px
  background-color: $white
  box-shadow: 0 2px 24px 0 rgba($black, 0.04)
  &--plr
    padding-left: 35px
    padding-right: 35px
    @include r(575)
      padding-left: 20px
      padding-right: 20px
  &--ptb
    padding-top: 35px
    padding-bottom: 35px
    @include r(575)
      padding-top: 20px
      padding-bottom: 20px


// title
// ===============
.title
  color: $c-686879
  font-size: 22px
  font-weight: 600
  @include r(575)
    font-size: 18px


  &__wrap
    cursor: pointer
    display: flex
    align-items: center

    p
      width: calc(100% - 25px)
    div
      width: 25px

// description
// ===============
.description
  color: $c-686879
  font-size: 20px
  font-weight: 300

  a
    color: $c-00529e
    font-weight: 500


// progress
// ===============
.progress
  position: relative
  display: flex
  align-items: center
  justify-content: center

  p
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 0
    margin: 0
    font-size: 25px
    font-weight: 600

  svg
    transform: rotate(-90deg)

    circle
      stroke-width: 5px
      stroke-dashoffset: 0
      stroke-linecap: round
      transition: stroke-dashoffset 1s linear

// copyright
// ===============
.copyright
  text-align: center

  p
    color: rgba($c-a8acb9, 0.4)


// social
// ===============
.social
  ul
    display: flex
    padding: 0

  li
    &:first-child
      a
        margin-left: 0

  a
    display: flex
    align-items: center
    margin-left: 30px


// btn
// ===============
.btn
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  max-width: 152px
  height: 43px
  border-radius: 21.5px
  border: 1px solid transparent
  background-color: $c-41c2a5
  color: $white
  font-size: 18px
  font-weight: 600
  @include transition(border-color, background-color, color)

  &:hover
    border-color: $c-41c2a5
    background-color: transparent
    color: $c-41c2a5
    @include transition(border-color, background-color, color)

  &--centered
    margin-left: auto
    margin-right: auto

  &--internal
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 43px
    border-radius: 21.5px
    background-color: transparent
    font-size: 18px
    font-weight: 600

  &__group
    display: flex
    align-items: center
    justify-content: space-between
    @include r(1023)
      flex-wrap: wrap
      justify-content: center
    @include r(767)
      flex-wrap: nowrap
      justify-content: space-between
    @include r(575)
      flex-wrap: wrap
      justify-content: center

    a
      @include r(1023)
        max-width: 100%
      &:first-child
        @include r(1023)
          margin-bottom: 20px
        @include r(767)
          margin-bottom: 0
        @include r(575)
          margin-bottom: 20px

// logotype
// ===============
.logotype
  padding-top: 25px
  padding-left: 26px
  padding-bottom: 18px
  @include r(767)
    padding-left: 15px

  a
    display: flex


// nav
// ===============
.nav
  &__list
    display: flex
    align-items: center

  &__item
    &:last-child
      a
        margin-left: 15px
        @include r(767)
          margin-right: 0

    &--dropdown
      @include r(767)
        p
          display: none

  &__link
    display: flex
    align-items: center
    margin-left: 15px
    margin-right: 15px
    color: $c-686879
    font-weight: 500
    @include r(767)
      margin-left: 5px
      margin-right: 5px
    @include rmin(768)
      font-size: 16px
    @include rmin(1024)
      font-size: 19px

    div
      overflow: hidden
      position: relative
      width: 55px
      height: 55px
      margin-right: 14px
      border-radius: 100%
      background-color: $white

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    p
      margin-right: 14px

    svg
      width: 13px
      height: 8px

  &__icon
    display: flex
    margin-left: 15px
    margin-right: 15px
    @include r(767)
      margin-left: 5px
      margin-right: 5px

    svg
      width: 22px
      height: 28px
