// SECTION
section
  margin-bottom: 35px

  &:last-child
    margin-bottom: 0

.section
  padding-top: 35px
  padding-bottom: 157px

  &__wrapper
    display: flex

    &-left
      width: 475px
      padding-right: 35px

    &-right
      width: calc(100% - 475px)
