// CREATE QUIZZ :: START

section.createQuizz.c-block
  .createQuizz__wrapper

    .createQuizz__head
      .title__wrap.c-block--plr.c-block--ptb(titleHead-js)
        p.title!= "Created Quizzes"
        div
          +icon("ico-corner")

    .createQuizz__body.c-block--plr.c-block--ptb(titleBody-js)

// CREATE QUIZZ :: END
