// DISCUSSIONS :: START

section.discussions.c-block
  .discussions__wrapper

    .discussions__head
      .title__wrap.c-block--plr.c-block--ptb(titleHead-js)
        p.title!= "Discussions and Bookmarks"
        div
          +icon("ico-corner")

    .discussions__body.c-block--plr.c-block--ptb(titleBody-js)

// DISCUSSIONS :: END
